.dropdown-large {
    width: 307px;
}

.dropdown-menu.large {
    width: 307px;
    min-width: 307px;
    left: 0%;
    max-height: 147px;
    overflow: auto;
}

.dropdown-item.large {
    height: auto;
}

.dropdown-item:hover {
    cursor: pointer;
}


.button.large {
    width: 307px;
}

.ui-select-choices-group:hover{
	background-color: white !important;
}

.telefonica.button {
	font-family: "Open Sans" !important;
}