#mynetwork {
  position: relative;
  width: 100%;
  height: 380px;  
}
table.legend_table {
  font-size: 11px;
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
}
table.legend_table,td {
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
  padding: 2px;
}
div.table_content {
  width:80px;
  text-align:center;
}
div.table_description {
  width:100px;
}

#operation {
  font-size:28px;
}

.toolTip{
  border-radius: 3px;  
 /* background-color: #FE2E2E;*/
  padding: 3px;
  position: absolute;
  top: -12px;
  left: -1px;
  color: white;  
}
div.vis.network-frame:lastChild{
  box-shadow: none;
}

#nodesToolbar{
  height: 53px;
  background-color: #f2f2f2;
  width: 100%;
  padding: 5px;
  text-align: center;
}

#nodesFooter{
  height: 44px;
  background-color: #f2f2f2;
  width: 100%;
  text-align: right;
  font-family: "Open Sans";
  line-height: 44px;
  color: #949494;
}

#networkContainer{
  min-width: 655px;
  height: 479px;
  border: 1px solid #cfcece;
  border-radius: 3px;
  position: relative;
  margin: auto;
  width: 100%;
}

.floating{  
  margin: 150px auto;
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 3;
}


.nodesButton:hover{
  background-color: #f9f9f9;  
  border: solid 1px #e0e0e0;
  cursor: pointer;  
  color: #426cc1;
}

.nodesButton{
  display: inline-block;
  padding: 0px 5px;
  height: 43px;
  line-height: 43px;
  background-repeat: no-repeat;
  margin-left: 12px;
  border: solid 1px #f2f2f2;
}

#familyButton:hover, #familyButton.selected{
  background-image: url("../../img/network/family_color.svg");
  color: #426cc1;  
}
#familyButton{
  background-image: url("../../img/network/family_black.svg");
  background-position: -15px;
  padding-left: 40px;
  margin-left: 10px;  
}

#ingredientButton:hover, #ingredientButton.selected{
  background-image: url("../../img/network/ingredient_color.svg");
  color: #426cc1; 
}

#ingredientButton{
  background-image: url("../../img/network/ingredient_black.svg");
  padding-left: 47px;
  background-position: -15px;
}

#fusionButton:hover, #fusionButton.selected{
  background-image: url("../../img/network/fusion_color.svg");
  
  color: #426cc1;
}

#fusionButton{
  background-image: url("../../img/network/fusion_black.svg");
  padding-left: 35px;
  background-position: -20px;
}


#removeButton:hover, #removeButton.selected{
  background-image: url("../../img/network/delete_color.svg");
  
  color: #426cc1;  
}

#removeButton{
  background-image: url("../../img/network/delete_black.svg");
  padding-left: 32px;
  background-position: -20px;
}


#enjoyButton:hover, #enjoyButton.selected{
  background-image: url("../../img/network/enjoy_color.svg");
  
  color: #426cc1;
}

#enjoyButton{
  background-image: url("../../img/network/enjoy_black.svg");
  padding-left: 45px;
  background-position: -15px -15px;
}
.network-manipulation-editMode {
  display: none !important;
}

.network-manipulationDiv{
  display:none !important;
}

.network-manipulation-closeDiv{
  display:none !important; 
}
 #shadow{
  position: absolute;
  width: 100%;
  top: 53px;
  height: 380px;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
  display: none;
 }

 #popUp{
  position: absolute;
  width: 100%;
  top: 53px;
  height: 380px;
  z-index: 3;  
  display: none;
}

#facebookNetworkButton{
   background: url("../../img/network/facebook_gris_30.svg") no-repeat;
   background-position: -22px -13px;
}

#twitterNetworkButton{
  background: url("../../img/network/twitter_gris30.svg") no-repeat;
  background-position: -20px -15px;
}

#vimeoNetworkButton{
  background: url("../../img/network/Vimeo_gris_30.svg") no-repeat;
  background-position: -21px -16px;

}

#nodesFooter div{
  display: inline-block;
}

#socialNetworkBar{
  height: 32px;
  vertical-align: middle;
  margin-right: 25px;
  margin-left: 10px;
}

#socialNetworkBar div{
  width: 32px;
  height: 32px;
  margin-right:3px;
}