
span.ui-select-match-item {
  padding-top: 4px;
  width: 99px;
  height: 33px;
  color: #848484;
  font-family: "Open Sans";
  font-size: 16px;
  border-color: #cfcece;
  margin: 1px;
  text-align: center;
  background-color: #f2f2f2;
  overflow: hidden;
  white-space: nowrap;

}

span.ui-select-match-item:hover {
  color:#848484;
}

span.close.ui-select-match-close {
  color: #848484;
  opacity: 1;

}

span.close.ui-select-match-close:hover {
  color: #c2c2c2;
  opacity: 1;
}

span.ui-select-match-item.btn.btn-default.btn-xs span span.ng-binding.ng-scope {
  text-align: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:65px;
  opacity: 1.0;
}

span.ui-select-match-item.btn.btn-default.btn-xs span span.ng-binding.ng-scope:hover {

    opacity:1.0;
}


input.ui-select-search.input-xs.ng-valid.ng-dirty, a.ui-select-choices-row-inner {
  font-family: "Open Sans";
  font-size: 16px;
  color: #333333;
}

div.ui-select-multiple.ui-select-bootstrap {
  padding: 1px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
font-size: 1.2em;
line-height: 1.15;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
color: #000;
text-decoration: none;
outline: 0;
background-color: #f3f3f3;
}

.close {
  text-shadow: none;
}

.btn-xs, .btn-group-xs > .btn {
padding: 1px 5px;
font-size: 12px;
line-height: 1.55;
border-radius: 3px;
}
