.owl-container {
    width: 307px;
    height: 87px;
    display: flex;
    vertical-align: middle;
    
    border-style: solid;
    border-width: 1px;
    border-color: #cfcece;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    background-color: white;
    z-index: 3;
}


.owl-nav-container {
    position: relative;
    width: 25px !important;
    background-color: #f2f2f2;
}

.dummy {
    padding-top: 100%;
}

.owl-nav {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    text-align:center; /* Align center inline elements */
    font: 0/0 a;

    width: 25px;
}

.owl-nav .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.owl-nav img {
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 5px;
    margin-right: 5px;
    
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 25px;
    max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
    max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
}

.owl-nav.owl-next:hover{
    cursor:pointer;
}
.owl-nav.owl-prev:hover{
    cursor: pointer;
}

.owl-carousel {
    width: 257px;
}

.owl-carousel .owl-item .owl-text {
    width: 60px;
    height: 17px;
    margin-left: 16%;
    margin-top: 10%;
    text-align: center;

    font-family: 'Open Sans';
    font-size: 13.4px;
    color: rgb(51,51,51);
}

.owl-carousel .owl-item.active.center .owl-text {
    background-color: #FFB505;
}

.item-container:hover {
    cursor: pointer;
}

.owl-carousel .owl-item {
    /* margin-top: 10px; */
}

.owl-carousel .owl-item img {
    max-width: 70px;
    position: absolute;
    top: 0;
    left: 7.5px;
    cursor: pointer;
}
.owl-carousel .owl-item p {
    /* padding-top: 2px; */
}

.owl-controls {
    display: none;
}


.owl-item.active.center .wrapper {
    border-left: 2px solid #cfcece;
    border-right: 2px solid #cfcece;    
}

.wrapper {
    margin-top: 15px;
    margin-bottom: -4px;
    height: 40px;
    width: 81px;
}

.stick{
    border-left: 3px solid #cfcece;
    height: 2px;
}

.empty{
    height: 36px;
}

.content{ float: left }

.owl-item.active.center .left {display:block;}
.owl-item.active.center .right {display:block;}
.left{ display:none;float: left; height: 54px; }
.right{ display:none;float: right; height: 54px; }

.clear{ clear: both }
