<!doctype html>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<html ng-app="main">
    <head>
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/preload.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:light' rel='stylesheet' type='text/css'>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-sanitize.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js" type="text/javascript"></script>
        <script src="https://rawgit.com/sebastianha/angular-bootstrap-checkbox/master/angular-bootstrap-checkbox.js" type="text/javascript"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
        
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        
        <script src="js/NodeMap/vis.min.js"></script>
        
        <script src="js/NodeMap/select/select.js"></script>
        <link rel="stylesheet" href="css/NodeMap/select/select.css">


        <link rel="stylesheet" href="css/NodeMap/vis.min.css">
        <link rel="stylesheet" href="css/NodeMap/tags.css">
        <link rel="stylesheet" href="css/NodeMap/node_map.css">

        <link rel="stylesheet" href="css/layout.css">

        
        <!-- Can import owl from CDN (version 2 Beta) -->
        <link href="css/carousel/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <script src="js/carousel/owl.carousel.js"></script>
        
        <script src="js/carousel/setup_carousel.js"></script>
        
        <link href="css/carousel/carousel.css" rel="stylesheet">



        <link rel="stylesheet" href="css/navbar.css" rel="stylesheet" type="text/css" />
        <script src="js/navbar.js" type="text/javascript"></script>

        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/input/css/bb-input.css" rel="stylesheet" type="text/css">
        <!-- This are all brand files for the input component -->
        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/input/css/telefonica-input.css" rel="stylesheet" type="text/css"/>

        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/buttons/css/bb-button.css" rel="stylesheet" type="text/css">
        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/buttons/css/telefonica-button.css" rel="stylesheet" type="text/css"/>
        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/fonts/glyphicons-halflings.css" rel="stylesheet" type="text/css" />
        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/checkbox/css/bb-checkbox.css" rel="stylesheet" type="text/css"/>
        
        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/form/css/bb-form.css" rel="stylesheet" type="text/css"/>
        <link href="https://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/login/css/bb-login.css" rel="stylesheet" type="text/css"/>

        <!-- DROPDOWN -->
        <link href="http://rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/dropdown/css/bb-dropdown.css" rel="stylesheet" type="text/css"/>
        
 
        <link href="css/fix.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- HEADER  -->
        <div id="bullipedia-header">
            <p>In collaboration with <b>elBullifoundation</b> &  <img src="img/navbar/telefonica.svg"></p>
        <p class="header-languages">
            <a><b>ENG</b></a> | 
            <a>ESP</a> | 
            <a>CAT</a>
        </p>
    </div>
    <div id="bullipedia-navbar">
        <ul id="test5">
            <li class="navbar-element">
                <a href="">BULLIPEDIA</a>
            </li>
            <li class="navbar-element">
                <a href="">THE CHALLENGE</a>
            </li>
            <li class="navbar-element">
                <a href="">CALENDAR</a>
            </li>
            <li class="navbar-element" id="bullipedia-icon">
                <!-- Bullipedia logo-->
                <a><img src="img/navbar/bullipedia_logo.png" class="bullipedia-logo"></a>
            </li>
            <li class="navbar-element">
                <a href="">ORGANIZERS</a>
            </li>
            <li class="navbar-element">
                <a href="">SPREAD THE WORD!</a>
            </li>
            <li onclick="show_login()" class="navbar-element" id="login-dropdown">
                <a>LOGIN</a>
            </li>
        </ul>
        <div id="bullipedia-navbar-mini">
            <a><img src="img/navbar/bullipedia_logo.png" class="bullipedia-logo"></a>
            <button class="hamburguer-button" onclick= "show_dropdown_mini()"></button>
            <ul>
                <li class="navbar-element">
                    <a href="">BULLIPEDIA</a>
                </li>
                <li class="navbar-element">
                    <a href="">THE CHALLENGE</a>
                </li>
                <li class="navbar-element">
                    <a href="">CALENDAR</a>
                </li class="navbar-element">
                <li class="navbar-element">
                    <a href="">ORGANIZERS</a>
                </li>
                <li class="navbar-element">
                    <a href="">SPREAD THE WORD!</a>
                </li>
                <li onclick="show_login()" class="navbar-element">
                    <a>LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
    <div id = "login-container">
        <form id="login-form" class="bb-form bb-login" name="LoginForm" ng-controller="LoginCtrl as loginCtrl">
            <div class="close" onclick="show_login()">
            </div>
            <h1 class="field-left field-clear">
                Login
            </h1>
            <div class="input-container">
                <div class="tooltip-required" popover-trigger="mouseenter" popover="This field is mandatory">
                </div>
                <input class="telefonica input" type="text" name="inputEmail" placeholder="Email" ng-model="loginCtrl.email" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-required="true" />
                <div class="telefonica message-container">
                    <p class="error-message negative-required">
                        Required field
                    </p>
                    <p class="error-message negative-info">
                        Please enter a valid email
                    </p>
                </div>
            </div>
            <div class="input-container">
                <div class="tooltip-required" popover-trigger="mouseenter" popover="This field is mandatory">
                </div>
                <input class="telefonica input" type="password" name="inputPass" placeholder="Password" ng-model="loginCtrl.pass" ng-required="true" />
                <div class="telefonica message-container">
                    <p class="error-message negative">
                        Required field
                    </p>
                </div>
            </div>
            <checkbox class="telefonica checkbox" ng-model="loginCtrl.keep">
            </checkbox>
            <div class="checkbox-label">
                Keep me signed in 
            </div>
            <button class="telefonica button medium btt-positive" ng-disabled="!LoginForm.$valid" ng-click="loginCtrl.sendForm()">
                Login
            </button>
            <a class="telefonica forgot" href="">
                I cannot access my account
            </a>
        </form>
    </div>
    <div id = "page-shadow-login"  onclick="show_login()"></div>

        <!-- FIN HEADER  -->        
        <div ng-controller="BullipediaDemoCtrl as ctrl" class="" id="graphAppContainer">
            <div id = "leftPanel">
                <p class="title">Food Bridging</p>
                <div id="carouselContainer">
                    <p class = "subtitle">1. Choose family of ingredients:</p>
                    <div class="owl-container" id="carousel" ng-controller="CarouselCtrl as ctrl2">
                        <div class="owl-nav-container">
                            <div class="owl-nav owl-prev">
                                <div class="centerer"></div>
                                <img src="img/arrow_left_black.png">
                            </div>
                        </div>
                        <div class="owl-carousel">
                            <div class="item link" ng-repeat="image in ctrl2.images">
                                <div class="item-container">
                                    <div class="wrapper">
                                        <div class="left">
                                            <div class="stick"></div>
                                            <div class="empty"></div>
                                            <div class="stick"></div>
                                        </div>
                                        <div class="content">
                                            <img ng-src="{{select(image)}}">
                                        </div>
                                        <div class="right">
                                            <div class="stick"></div>
                                            <div class="empty"></div>
                                            <div class="stick"></div>
                                        </div>
                                    </div>
                                    <div class="owl-text"><p>{{image.name}}</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav-container">
                            <div class="owl-nav owl-next">
                                <div class="centerer"></div>
                                <img src="img/arrow_right_black.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="selectContainer">
                    <p class = "subtitle">2. Add ingredients:</p>
                    <ui-select multiple id="my_selector" ng-model="ctrl.selectedIngredients" theme="bootstrap" ng-disabled="disabled" style="width: 307px;" ng-change="ctrl.updateNodes()" >
                        <ui-select-match placeholder="Select ingredients..." id="test">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="color in ctrl.availableIngredients | filter:$select.search">
                            {{color.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                
                <div id="fusionContainer">
                    <p class="subtitle">3. Fusion:</p>
                    <div class="dropdown-group movistar" ng-controller="DropdownCtrl as ctrl3" dropdown>
                        <button type="button" class="dropdown-large btn-primary dropdown-toggle movistar" ng-disabled="ctrl.fusion_array.length === 0">
                            {{ctrl3.selected}} <span class="caret large"></span>
                        </button>
                        <ul class="dropdown-menu large"  role="menu">
                            <!-- <li class="dropdown-item large" ng-repeat="choice in ctrl.selectedIngredients" ng-click="ctrl3.select(choice)"> -->
                            <li class="dropdown-item large" ng-repeat="choice in ctrl.fusion_array" ng-click="ctrl3.select(choice)" >
                                <a ng-click="ctrl.do_random_fusion(choice)">
                                    {{choice}}
                                    <!-- {{choice.name}} -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="enjoyContainer">
                    <button class="telefonica button large btt-positive" ng-click="ctrl.enjoyButton()">
                        Enjoy!
                    </button>
                </div>
            </div>
            <div id="rightPanel">
                <p id="netDescription">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos.</p>
                <div id="networkContainer">                    
                    <div id ="shadow" ng-click="ctrl.do_clean_menu()"></div>                   
                    <div id="nodesToolbar">
                        <div class= "nodesButton" id ="familyButton" ng-click="ctrl.activateFamily()">FAMILY</div>
                        <div class= "nodesButton" id ="ingredientButton" ng-click="ctrl.activateAddNode()">ADD INGREDIENT</div>
                        <div class= "nodesButton" id ="fusionButton" ng-click="ctrl.activateAddEdge()">FUSION</div>
                        <div class= "nodesButton" id ="removeButton" ng-click="ctrl.activateRemove()">REMOVE</div>
                        <div class= "nodesButton" id ="enjoyButton" ng-click="ctrl.enjoyButton()">ENJOY</div>
                    </div>
                    <div id="mynetwork"></div>
                    <div id="nodesFooter">
                        <div>Send results to:</div>
                        <div id="socialNetworkBar">
                            <div><a href="https://www.facebook.com/"><div id="facebookNetworkButton"></div></a></div>
                            <div><a href="https://www.twitter.com/"><div id="twitterNetworkButton"></div></a></div>
                            <div><a href="https://www.vimeo.com/"><div id="vimeoNetworkButton"></div></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="greyBar">
            <div class ="greyBarElementContainer">
                <div class ="greyBarElement">
                    <p class="title">Latest Tweets</p>
                    <p>Lorem ipsum ad his scripta <a>blandit partiendo</a>, eum fastidii accumsan euripidis in, eum liber hendrerit an. </p>
                    <p>Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos.</p>
                    <p><a>READ MORE</a></p>
                </div>
            </div>
            <div class ="greyBarElementContainer">
                <div class ="greyBarElement">
                    <p class="title">Latest Tweets</p>
                    <p>Lorem ipsum ad his scripta <a>blandit partiendo</a>, eum fastidii accumsan euripidis in, eum liber hendrerit an. </p>
                    <div id="socialFooterBar">
                        <div><a href="https://www.facebook.com/"><div id="facebookFooterButton"></div></a></div>
                        <div><a href="https://www.twitter.com/"><div id="twitterFooterButton"></div></a></div>
                        <div><a href="https://www.vimeo.com/"><div id="vimeoFooterButton"></div></a></div>
                    </div>                    
                </div>
            </div>
            <div class ="greyBarElementContainer">
                <div class ="greyBarElement">
                        <p class="title">More Information</p>
                        <p>Lorem ipsum ad his scripta <a>blandit partiendo</a>, eum fastidii accumsan euripidis in, eum liber hendrerit an. </p>
                        <p>Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos.</p>
                        <p><a>READ MORE</a></p>
                </div>
            </div>
        </div>
        <div id="brandsBar">
            <div class="brandsBarElementContainer">
                <div class="brandsBarElement">
                    <a href="http://www.telefonica.es/"><img src="img/Logo_telefonica.png"></a>
                </div>
            </div>
            <div class="brandsBarElementContainer">
                <div class="brandsBarElement">
                    <a href="http://www.elbullifoundation.org/"><img src="img/fundatio.png"></a>
                </div>
            </div>
            <div class="brandsBarElementContainer">
                <div class="brandsBarElement">
                    <a href="http://www.lamandarinadenewton.com/es/"><img src="img/wewton.png"></a>
                </div>
            </div>
        </div>

    </body>
</html>

